@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1, h2, h3 {
    @apply font-heading
  }
  p {
    @apply font-sans
  }
  .header-link {
    @apply text-white  p-2 md:text-xl transition ease-in-out delay-75 hover:text-light-blue 
  }

  .contact-link {
    @apply text-white text-xl transition ease-in-out delay-75 hover:text-light-blue font-semibold mt-1
  }
}

